/src/data
*.code-workspace
__pycache__/
__pycache__
tm1data.json
data-prep
no-work/
main-etc/
works/
data/
outputs-cpt/
unsloth_compiled_cache/
_unsloth_temporary_saved_buffers/
outputs*/
answers_only.jsonl